@page
@model AllModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<header>
<script type="text/javascript" src="js/raphael-min.js"></script>
    <script type="text/javascript" src="js/graffle.js"></script>
    <script type="text/javascript" src="js/graph.js"></script>
    <script type="text/javascript">

var redraw;
var height = 500;
var width = 900;

/* only do all this when document has finished loading (needed for RaphaelJS */
window.onload = function() {

    var g = new Graph();
    
    @foreach(var edge in Model.Edges)
    {
<text>
g.addEdge('@edge.Item1', '@edge.Item2');
</text>
    }

    /* layout the graph using the Spring layout implementation */
    var layouter = new Graph.Layout.Spring(g);
    layouter.layout();
    
    /* draw the graph using the RaphaelJS draw implementation */
    var renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
    renderer.draw();
    
    redraw = function() {
        layouter.layout();
        renderer.draw();
    };
};

    </script>
</header>
<body>
<div id="canvas"></div>
<button id="redraw" onclick="redraw();">redraw</button>
</body>
</html>
    
